body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.nav .nav__list .nav__list--item button {
  border-width: 2px;
  font-weight: 600;
}

.intro__left,
.intro__right {
  /* border: 1px solid #fff; */
}

.intro__left h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.dishes__slider .owl-stage-outer {
  padding: 1rem 0;
}
.dishes__slider .owl-nav button {
  position: absolute;
  top: -17%;
  background-color: transparent !important;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  transition: 0.2s;
  display: block;
  border: 1px solid black !important;
}
.dishes__slider .owl-nav button span {
  display: none;
}
.dishes__slider .owl-nav button:hover {
  border-color: #bb233a !important;
}
.dishes__slider .owl-nav button.owl-prev {
  right: 80px;
  background-image: url("./images/arrow-left.svg") !important;
  background-size: 25% !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.dishes__slider .owl-nav button.owl-next {
  right: 0;
  background-image: url("./images/arrow-right.svg") !important;
  background-size: 25% !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.menu__content--items li {
  width: calc(100% / 4 - 15px);
}

.testimonial__slider .owl-stage-outer {
  padding: 1rem 0;
}
.testimonial__slider .owl-nav button {
  position: absolute;
  bottom: -20%;
  background-color: transparent !important;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  transition: 0.2s;
  display: block;
  border: 1px solid black !important;
}
.testimonial__slider .owl-nav button span {
  display: none;
}
.testimonial__slider .owl-nav button:hover {
  border-color: #bb233a !important;
}
.testimonial__slider .owl-nav button.owl-prev {
  left: 43%;
  background-image: url("./images/arrow-left.svg") !important;
  background-size: 25% !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.testimonial__slider .owl-nav button.owl-next {
  right: 43%;
  background-image: url("./images/arrow-right.svg") !important;
  background-size: 25% !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.news__list .news__list--item {
  width: calc(100% / 3 - 25px);
}

.video__box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #111111b2, #1111113c);
}

.play {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.gallery__slider--box {
  width: 70%;
  left: 40%;
}

.gallery__slider--item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
